# Dependencias
node_modules/

# Base de Datos
*.db
*.db-journal

# Archivos Confidenciales de Acceso
credenciales_maestras.txt
seed_data.json

# Excel de datos (opcional, por seguridad)
TTIENDAS.xlsx
USUARIOS.xlsx
usuarios.xlsx
*.xlsx

# Archivos subidos
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*




